#video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#playButton{ 
  font-family: 'Dancing Script', cursive;
  font-size: 200px; 
  position: absolute;
  top: 10%;
  left: 40%;
  color: ivory; 
}

#playButton:hover{ 
  border-style: dotted;  
  color: white; 
  max-width: 330px;
  max-height: 275px; 


}
#animeTitle, #animeTitle2 { 
  font-family: 'Dancing Script', cursive;
  font-size: 150px; 
  position: relative;
  bottom: 0px; 
  left: 0; 
  color: ivory; 
}

#animePick{ 
  font-family: 'Dancing Script', cursive;
  font-size: 75px; 
  position: relative;
  bottom: -100px; 
  left: 175px; 
  color: ivory; 
}


#blanks { 
  font-size: 50px; 
  color: ivory; 
  bottom: 0; 
  left: 40%; 
  position: relative;
  width: 275px;
  display: inline-flexbox;  
}

strong { 
  bottom: -100px; 
  left: 30%; 
  position: relative;
  color: ivory; 
  font-size: 25px; 

}
#myBtn {
  width: 500px;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  position: relative;
  bottom: -200px;
  left: 0;  
  float: left;
  
}

#myBtn2 {
  width: 500px;
  font-size: 35px;
  color: #fff;
  cursor: pointer;
  z-index: 2px;
  position: relative;
  bottom: -200px;
  left: 15%;  
}

#myBtn3{
  font-size: 1px;
  color: white;
  cursor: pointer;
  z-index: 2px;
  position: relative;
  bottom: 0;
  left: -175px;  
  padding: 10px; 
}

#myBtn:hover, #myBtn2:hover, #myBtn3:hover{
  background:black;
  color: white;
}


.g-scrolling-carousel .items{
  padding: 5px 0;
  z-index: 2px;
}
.g-scrolling-carousel .items a{
  display: inline-block; /* notice the comments between inline-block items */
  margin-right: 10px;
  width: 70px;
  height: 50px;
  box-shadow: 0 0 5px #000;
  text-align: center;
  z-index: 2px;
  background: white; 
  position: relative; 
  bottom: 0; 
  left: 20px; 

}

.card-image{ 
  width: 100px; 
  height: 100px;
  }

  .card-image:hover { 
  }

  .card { 
    width: 100px; 
    height: 150px;
    float: left; 
    font-size: 10px; 
    margin: 0; 
    bottom: -500px;
    left: 25px;  
  }
  .card-title { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  }

