*{ 
  margin: 0; 
}

#video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  height: 100vh;
  background-color: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
  background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
  transform: translateX(-50%) translateY(-50%);
  
}
#playButton{ 
  font-family: 'Dancing Script', cursive;
  font-size: 200px; 
  flex-direction: row; 
  color: ivory; 
}

#playButton:hover{ 
  border-style: dotted;  
  color: white; 
}

#animeTitle, #animeTitle2 { 
  font-family: 'Dancing Script', cursive;
  font-size: 100px; 
  flex-direction: column; 
  display: flex;  
  color: ivory; 
  margin: 0; 
}

#animePick{ 
  font-family: 'Dancing Script', cursive;
  font-size: 75px; 
  color: ivory; 
}

#blanks { 
  font-size: 100px; 
  color: ivory; 
}

#scoreboard { 
  flex-direction: row;  
  color: ivory;
  font-size: 35px;
  justify-content: center; 
  text-align: center; 
} 

#wrong-guesses, #guesses-left, #win-counter, #losses-counter { 
  margin: 20px; 
}

img { 
  height: 250px; 
  width: 250px;  
}
#carouselRow { 
  height: 350px;
}

#myBtn,#myBtn2 {
  width: 300px;
  color: #fff;
  cursor: pointer;
  margin: 20px;
}


#myBtn3, #myBtn4, #myBtn5, #myBtn6 {
  color: ivory;
  cursor: pointer;
  width: 200px; 
  margin: 10px; 

}

#myBtn:hover, #myBtn2:hover, #myBtn3:hover, #myBtn4:hover, #myBtn5:hover, #myBtn6:hover{
  background:black;
  color: white;
}



@media screen and (min-width: 600px) {
  div.example {
  font-size: 80px;
}

@media (min-aspect-ratio: 16/9) {
      #video {
          width:100%;
          height: auto;
      }
}

}
@media (max-aspect-ratio: 16/9) {
  #video { 
      width:auto;
      height: 100%;
}

}

@media (max-width: 767px) {
  #video {
      display: none;
  }
  body {
      background: url('../images/sky.jpg');
      background-size: cover;
  }
}

@media screen and (max-width: 600px) {
  div.example {
  font-size: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}